.DS_Store
*.xcuserstate
*.xcscmblueprint
*/bin/*
*.app
!*/bin/data
*/obj
RemoteSystemsTempFiles/
.metadata
*/.project
*/.cproject
*/.settings
*/*/project.xcworkspace/**
*/*/xcuserdata
.cproject
.project
.settings
*.qbs.user
build-example-segment-intersection-Desktop-Debug/
build-example-3d-Desktop-Debug/
build-example-mesh-intersection-Desktop-Debug/
build-example-mouse-picker-Desktop-Debug/
build-example-multiple-rays-Desktop-Debug
